.card {
  position: absolute;
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Container {
  border-radius: 20px;
  border: 0.2rem solid black;
  padding: 1.8rem;
  box-shadow: 7px 7px 5px rgba(41, 149, 152, 0.5);
}

.Question {
  color: #35cfd3;
  font-size: 16pt;
  font-weight: bold;
  margin: 2rem;
}

.Answer {
  border-radius: 20px;
  border: 0.2rem solid grey;
  margin: 1.8rem 0rem 0.4rem 0rem;
  padding: 1.2rem 10rem;
  background-color: #299598;
  color: white;
  font-weight: bold;
  box-shadow: 7px 7px 5px rgba(41, 149, 152, 0.5);
}
